@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: Montserrat, sans-serif;
    background-color: #DCDCDC;
    margin: 0;
    padding: 0;
}

nav{
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: Montserrat, sans-serif;
    font-weight: 500 !important;
}



.container {
    margin: 0 auto;
    padding: 20px;
}

.container_login {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    flex-direction: column;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


p {
    margin-bottom: 10px;
}


#subscriptionForm {
    margin-top: 20px;
}

#subscriptionForm label {
    display: block;
    margin-bottom: 10px;
}

#subscriptionForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stylisation du bouton */
#subscriptionForm button {

    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
    padding: 10px 20px; /* espace intérieur */
    font-size: 16px; /* taille de police */
    cursor: pointer; /* curseur de souris */
    border-radius: 5px; /* bordure arrondie */
    width: 100%; /* largeur à 100% */
    border: 1px solid #0056b3; /* bordure */
}

#subscriptionForm button:hover {
    background-color: #0056b3; /* couleur de fond au survol */
}

input[type="submit"] {
    background-color: #007bff;
}



/* Style des champs */
label {
    display: block;
    margin-bottom: 5px;
}


input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}




/* Style des messages d'erreur */
.alert {
    margin-bottom: 15px;
    padding: 15px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 3px;
}

/* Style du lien pour se déconnecter */
.mb-3 a {
    color: #007bff;
    text-decoration: none;
}

.mb-3 a:hover {
    text-decoration: underline;
}


.login_form {
    width: 500px;
    height: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.btnform {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register_form {
    width: 500px;
}

.pdf_form {
    width: 700px;
}

.pdf-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.pdf-card h3 {
    margin-top: 0;
}

.pdf-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5px;
}

.pdf-link:hover {
    background-color: #0056b3;
}

.subscription-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.subscription-card h2 {
    margin-top: 0;
    color: #333;
}

.subscription-card p {
    margin: 5px 0;
}

